# qdrant data
COLLECTION_NAME="MY_COLLECTION"
CHUNKS_PATH="data/json/queried_tk_rf_flat.json"
SPARCE_MODEL_NAME="Qdrant/bm25"
DENSE_MODEL_NAME="BAAI/bge-small-en-v1.5"



E5_MODEL="VladimirFireBall/tk_rf_e5-small"  # model repository
TOKENIZER="intfloat/multilingual-e5-small" # tokenizer model

LLM_MODEL="gpt-4o-mini-2024-07-18" # Or any openai model

# redis
REDIS_PASSWORD="user"
REDIS_USER="user"
REDIS_USER_PASSWORD="user"
REDIS_URL="redis://:${REDIS_PASSWORD}@redis:6379"


# langsmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_PROJECT="rag"
LANGSMITH_API_KEY="<YOUR KEY>"

# tokens
HF_TOKEN="<YOUR TOKEN>"
OPENAI_API_KEY="<YOUR KEY>"

# agent mode
MULTIHOP=true 


